*.class

# Package Files #
*.jar
*.war
*.ear
*.swp
/systemdesign-*.zip
/systemdesign_*.deb
/SystemDesign/target/
/SystemDesign/debian/files
/context
/SystemDesign/nbproject/
/ModuleAPI/target/
/Application/nbproject/
/BaseModule/target/
/Application/target/
/PhysicalModule/target/
/BudgetModule/target/
/LogicalModule/target/
