Source: systemdesign
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Benjamin Carlyle <benjamincarlyle@soundadvice.id.au>
Build-Depends: debhelper (>= 9), cdbs, java8-jdk, maven-debian-helper (>= 1.5)
Build-Depends-Indep: findbugs, libcommons-io-java, libopencsv-java, junit4, default-jdk-doc,  
 libcommons-io-java-doc, libopencsv-java-doc, libmaven-javadoc-plugin-java 
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-java/systemdesign.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/systemdesign.git
Homepage: http://maven.apache.org

Package: systemdesign
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Suggests: ${maven:OptionalDepends}, systemdesign-doc
Description: SystemDesign
 A simple modelling tool for INCOSE-style systems engineering. That is,
 a tool for breaking down units of work across multiple teams within a large
 engineering organisation rather than being a network engineering tool.
 This tool is intended to demonstrate basic systems engineering techniques
 suitable for orchestrating the design of large systems involving multiple
 teams.

Package: systemdesign-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Recommends: ${maven:DocDepends}, ${maven:DocOptionalDepends}
Suggests: systemdesign
Description: Documentation for SystemDesign
 A simple modelling tool for INCOSE-style systems engineering. That is,
 a tool for breaking down units of work across multiple teams within a large
 engineering organisation rather than being a network engineering tool.
 This tool is intended to demonstrate basic systems engineering techniques
 suitable for orchestrating the design of large systems involving multiple
 teams.
 .
 This package contains the API documentation of systemdesign.
